
BuildingSurveillanceSystemApplication/BuildingSurveillanceSystemApplication/Properties/AssemblyInfo.cs
BuildingSurveillanceSystemApplication/BuildingSurveillanceSystemApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BuildingSurveillanceSystemApplication/BuildingSurveillanceSystemApplication/obj/Debug/BuildingSurveillanceSystemApplication.csproj.AssemblyReference.cache
BuildingSurveillanceSystemApplication/BuildingSurveillanceSystemApplication/App.config
BuildingSurveillanceSystemApplication/BuildingSurveillanceSystemApplication.sln
BuildingSurveillanceSystemApplication/.vs/BuildingSurveillanceSystemApplication/v17/.suo
BuildingSurveillanceSystemApplication/.vs/BuildingSurveillanceSystemApplication/FileContentIndex/09734008-e3c2-4b8e-a2ff-0e6bd120d173.vsidx
